html,
body,
.login,
.empire {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.login {
  background-image: url("./Assets/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-container {
  width: 320px;
  height: 400px;
  padding: 30px;
  margin: 100px;

  float: left;
  background-image: url("./Assets/trans.png");
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: center;
}
.login-container .title {
  font-size: 30px;
}
.empire {
  background-image: url("./Assets/bg.jpg");
  background-size: cover;
}
.css-bwhex-MuiPaper-root {
  background-color: transparent !important;
}
.login-btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
